/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif+JP&display=swap")
.home .hero img
  max-width 450px!important
body
  font-family: "Noto Sans JP", "Noto Serif JP" !important
.banner
  background-color #0099fd
  height 6em!important
h1
  font-size 1.5em
.vssue-header-powered-by
  display none
.vssue .vssue-new-comment .vssue-comment-avatar img
  border-radius 50%
.vssue .vssue-comments .vssue-comment .vssue-comment-avatar img 
  border-radius 50%
.vssue-pagination-per-page
  display none
select
  -webkit-appearance none
  -moz-appearance none
  appearance none
.content img
  width 100%
  max-width: 1920px;
  max-height: 720px;
  text-align center
  margin 0 auto;
  display block;

video {
  width: 100%;
}