/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
.vuepress-blog-theme-content
  font-family "Sawarabi Mincho", sans-serif !important
h1, h2, h3, h4
  font-family "Sawarabi Mincho", sans-serif !important
body
  font-family "Sawarabi Mincho", sans-serif
