@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");

body {
    font-family: "Sawarabi Gothic", sans-serif !important;
}

.home {
    max-width: 880px !important;
}

.banner {
    height: 6em !important;
}

.post-nav-toc {
    font-size: 14px !important;
}

.header-anchor {
    display: none !important;
}

table {
    width: 100% !important;
}

.container {
    max-width: 1440px !important;
}
/* 
.post-nav-card.main-div {
    width: 380px !important;
}

.info-card {
    width: 380px !important;
}

@media (max-width: 1440px) and (min-width: 1280px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 1280px) {
    .container {
        float: left;
        padding-left: 1rem;
    }
} */